@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html, body {
  font-family: 'Roboto', sans-serif;
  color: #000000;
  margin: 0;
  padding: 0;
  background: white;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

* {
  box-sizing: border-box;
}
