.navbar-container{

    display: flex;
    /* flex-direction: row;  */
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(0, 80, 53);
}

.social-img{
    width: 100;
    height: 100;
    object-fit: contain;
}


*{
    font-family: 'Helvetica';
    color: rgb(93, 93, 93);
}




